@using Xlns.Catalog.Document.Model;
@model IList<Xlns.Catalog.Document.Model.Merchant>
@{
    ViewBag.Title = "Merchants list";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>Merchants</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Home</a>
            </li>
            <li>
                Merchant
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
         <div class="title-action">
            <a href="~/Merchant/Create" class="btn btn-primary btn-sm">Add merchant</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @*<div class="row">
        @foreach (var merchant in Model)
        {
            @Html.DisplayFor(modelItem => merchant, "MerchantTile")
        }
    </div>*@
     <div class="row">
        @foreach (var merchant in Model)
        {
            @Html.Partial("MerchantTile", merchant)
        }
    </div>
</div>
